<%= form_with(model: benevol, inline_errors: true) do |form| %>
  <% if benevol.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(benevol.errors.count, "error") %> prohibited this benevol from being saved:</h2>

      <ul>
        <% benevol.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-2">
    
    <%= form.text_field :full_name, label:"Nom du Bénévol:", 
    class:"form-control focus-none p-2 border rounded-md",
     placeholder:'Nom && Prénom ...' %>
  </div>

  <div>
    
    <%= form.text_field :role , class:"form-control focus-none p-2 border rounded-md", label:"Role du Bénévol:", placeholder:" Role ..." %>
  </div>

  <div class="mt-2">
    <%= form.text_field :link_fb, class:"form-control focus-none p-2 border rounded-md", label:"Adresse du compte Facebook:", placeholder:" URL facebook ..." %>
  </div>

  <div class="my-2">
    <%= form.text_field :link_tw, class:"form-control focus-none p-2 border rounded-md", label:"Adresse du compte Tiwtter:", placeholder:" URL Tiwtter ..." %>
  </div>

  <div>
    <%= form.text_field :link_ldin, class:"form-control focus-none p-2 border rounded-md", label:"Adresse du compte Linkedin:", placeholder:" URL Linkedin ..." %>
  </div>
  <!-- component -->
    <div class="bg-white px-2 mt-2 rounded-lg shadow-lg text-center w-48">
      <div class="mb-2">
        <%= image_tag("logo/logo-action.png", class:"w-32 mx-auto rounded-full object-cover object-center", alt:"Avatar Upload") %>
      </div>
      <label class="cursor-pointer my-2">
        <span class=" text-base leading-normal p-2 bg-blue-500 text-white text-sm rounded-full" >Photo couverture :</span>
        <%= form.file_field :img, class:"hidden" %>
      </label>
    </div>
<div class="my-2">
    <%= form.label 'Status', style: "display: block" %>
<%= form.select :status, Benevol::STATUS, 
    class:"p-6 border border-blue-500 rounded-md" %>

</div>
  <div>
    <%= form.submit "Ajouter N. Benevol", class:"font-bold p-2 border rounded-md bg-green-500 font-semibold text-white my-2"  %>
  </div>
<% end %>
