<div id="<%= dom_id projet %>">
  <p>
    <strong>Title:</strong>
    <%= projet.title %>
  </p>

  <p>
    <strong>Heroimg:</strong>
    <%= projet.heroImg %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= projet.content %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= projet.start_date %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= projet.slug %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= projet.status %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= projet.amount %>
  </p>

  <p>
    <strong>User:</strong>
    <%= projet.user_id %>
  </p>

</div>
