<div id="<%= dom_id projet %>">
  <div class="container bg-white border-1 rounded-md m-2 ">
    <p>
      <strong>Title:</strong>
      <%= projet.title %>
    </p>

    <p>
      <strong>Heroimg:</strong>
      <%= projet.heroImg %>
    </p>

    <p>
      <strong>Content:</strong>
      <%= projet.content %>
    </p>

    <p>
      <strong>Start date:</strong>
      <%= projet.start_date %>
    </p>

    <p>
      <strong>Amount:</strong>
      <%= projet.amount %>
    </p>
    <strong>Status:</strong>
    <span class="font-bold"> <%= projet.status %>  </span> d'approbation
    <p>
      <strong>Auteur:</strong>
      <%= projet.user.full_name %>
    </p>

  </div>
</div>
