<p style="color: green"><%= notice %></p>

<%= render @projet %>

<div>
  <%= link_to "Edit this projet", edit_projet_path(@projet) %> |
  <%= link_to "Back to projets", projets_path %>

  <%= button_to "Destroy this projet", @projet, method: :delete %>
</div>
