<div id="<%= dom_id bemembership %>">
  <p>
    <strong>First name:</strong>
    <%= bemembership.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= bemembership.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= bemembership.email %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= bemembership.country %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= bemembership.contact %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= bemembership.gender %>
  </p>

</div>
