<div id="<%= dom_id campagne %>">
  <p>
    <strong>Title:</strong>
    <%= campagne.title %>
  </p>

  <p>
    <strong>Heroimg:</strong>
    <%= campagne.heroImg %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= campagne.content %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= campagne.start_date %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= campagne.slug %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= campagne.status %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= campagne.amount %>
  </p>

  <p>
    <strong>User:</strong>
    <%= campagne.user_id %>
  </p>

</div>
